
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

body {
    background-color: #ffffff;
}

body .ui-panelgrid {
    border: none;
    border-radius: 10%;
    background: #00A0ff;
    color: #dedede;
}

body .ui-panelgrid .ui-panelgrid-cell {
    border: none;
    border-radius: 3%;
    background: #00A0ff;
    color: #dedede;
    padding: 0.6rem;
}
